<div class="dish-card">
  <div class="dish-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
    <!-- TODO: Use a built-in helper to display "Contains Nuts" if a food item
    contains nuts. The text should be placed in a <p> element with the class
    "has-nuts". -->
  </div>
</div>